body {
  text-align: center;
  background-color: black; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu;
}

h1{
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

button {
  background-color: aquamarine;
  padding: 1.5rem;
  width: 500px;
  border: 3x solid orange;
  font-size: 1.5rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

.answer {
  color: black;
  font-size: 2rem;
}

.answer:hover{
  color: green;
}

.hover{
  font-size: 1rem;
}